<!-- <p>homepage works!</p> -->
<section>
    <div class="header_wrapper">
       <header>
           <nav>
             <div class="nav_left">
                <div class="nav_links">
                   <div class="nav-item">About Us</div><br>
                   <p>|</p>
                   <div class="nav-item">Careers</div><br>
                   <p>|</p>
                   <div class="nav-item">Open a shop</div>
                </div>
             </div>
   
             <div class="nav_middle">
               <p>Free shipping for all orders over <span>$75.00</span></p>
             </div>
   
             <div class="nav_right">
               <div class="nav_right_enquiry">
                <p>Need help?</p>
                <p>Call Us: <span>+ 1800 900</span></p>
               </div>
             <div class="nav_right_dropdown">
                <div class="dropdown">

                    <label for="language"></label><br />
                    <select name="state">
                     <option value="eng">ENG</option>
                     <option value="home2">Home1</option>
                    </select>
                </div>
                      
                    <label for="currency"></label><br />
                    <select name="state">
                     <option value="usd">USD</option>
                     <option value="home2">Home1</option>
                    </select>       
              </div>
             </div>
            </nav>
        

             <div class="below_nav">
             <div class="below_nav_left">
                    <div class="logo">
                        <img src="../../../assets/images/logo.svg" alt="">
                    </div>
            </div>
            <div class="search">
               <div class="search_box">
                <label for="categories"></label><br />
                <select>
                 <option value="categories">All Categories</option>
                 <option value="home2"></option>
                </select>
            </div>
                <div class="search_bar">
                     <input type="text" placeholder="Search for items">
                </div>
               
            </div>

            <div class="header_dropdown">
                    <label for="home"></label><br />
                    <select name="state">
                     <option value="home">Home</option>
                     <option value="home2">Home1</option>
                    </select>

                    <label for="shop"></label><br />
                    <select name="state">
                     <option value="home">Shop</option>
                     <option value="home2">Shop1</option>
                    </select>

                    <label for="vendors"></label><br />
                    <select name="state">
                     <option value="home">Vendors</option>
                     <option value="home2">Shop1</option>
                    </select>

    
                    <label for="pages"></label><br />
                    <select name="state">
                     <option value="home">Pages</option>
                     <option value="home2">Shop1</option>
                    </select>

                    <label for="blog"></label><br />
                    <select name="state">
                     <option value="home">Blog</option>
                     <option value="home2">Shop1</option>
                    </select>

                    <label for="contact"></label><br />
                    <select name="state">
                     <option value="home">Contact Us</option>
                     <option value="home2">Shop1</option>
                    </select>



                 </div>
         <div class="header_icons">
            <div class="icon">
                <img src="../../../assets/images/account.svg" alt="">
            </div>
            <div class="icon">
                <img src="../../../assets/images/wishlist.svg" alt="">
            </div>
            <div class="icon">
                <img src="../../../assets/images/cart.svg" alt="">
            </div>
            <div class="icon">
                <img src="../../../assets/images/compare.svg" alt="">
            </div>
         </div>

        
         </div>
       </header>
    </div>
   </section>

   <section>
    <div class="hero_wrapper">
        <div class="hero_container">
            <div class="banner">
               <img src="" alt="banner">
            </div>
            <div class="hero_links_list">
            <div class="hero_links">
                <div class="hero_link_content">
                <div class="maintext">
                 <h1>Free Delivery</h1>
                </div>
                <div class="subtext">
                    <p></p>
                </div>
            </div>
        </div>
            <div class="hero_links">

                
                <h1>Support 24/7</h1>
            </div>
            <div class="hero_links">
                <h1>Gift voucher</h1>
            </div>
            <div class="hero_links">
                <h1>Return & Refund</h1>
            </div>
            <div class="hero_links">
                <h1>Secure Payment</h1>
            </div>
            </div>

        </div>
    </div>
   </section>

   <section>
    <div class="hero_wrapper">
        <div class="hero_container">
        <div class="hero_title">
            <h1>Trending Products</h1>
        </div>
        <div class="products">
           <div class="product">
            <div class="product_img">
                <img src="" alt="product">
            </div>

           <div class="product_description">
            <p>Apple</p>
            <p>$2856.3</p>
           </div>
       
        </div>
         
        <div class="product">
            <div class="product_img">
                <img src="" alt="product">
            </div>

           <div class="product_description">
            <p>Samsung</p>
            <p>$2856.3</p>
           </div>
       
        </div>

        <div class="product">
            <div class="product_img">
                <img src="" alt="product">
            </div>

           <div class="product_description">
            <p>Panasonic</p>
            <p>$2856.3</p>
           </div>
       
        </div>
    </div>
     </div>
    </div>
   </section>
   
